<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F1 Matching</title>
    <link rel="stylesheet" href="/style/style.css" type="text/css">
    <link rel="stylesheet" href="https://use.typekit.net/jva5hqf.css">
</head>

<body>
    <%- include('../view/header');%>

    <main class="mainArchive">
        <h1>archives</h1>

        <aside>
            <div>
                <a href="/archive?category=drivers" class="<%= category === "drivers" ? 'selected' : '' %>"> Drivers</a>
            </div>
            
            <div>
                <a href="/archive?category=constructors" class="<%= category === "constructors" ? 'selected' : '' %>"> Constructors</a>
            </div>

            <div>
                <a href="/archive?category=championships" class="<%= category === "championships" ? 'selected' : '' %>"> Championships</a>
            </div>
            <div>
                <a href="/archive?category=circuits" class="<%= category === "circuits" ? 'selected' : '' %>"> Circuits</a>
            </div>
        </aside>

        <div class="zoeken">
            <label><input type="search" class="search" placeholder="search..."></label>
                <details>
                    <summary class="firstsummary">
                        sort
                    </summary>
                    <button class="sort" value="forename">Alphabet</button>
                    <button class="sort" value="surname">Chronologisch</button>
                </details>
        </div>

        <button class="sort" data-sort="forename">Sort by Forename</button>
        <button class="sort" data-sort="surname">Sort by Surname</button>


        <div id="archiveList">
            <ul class="archiveList list">
                <% if (category == "drivers" && data.length > 0) { %>
                    <% data.forEach(item => { %>
                        <li> 
                            <p class="forename"><%=item.forename %></p>
                            <p class="surname"><%=item.surname %></p>
                            <p><%=item.code%></p>
                            <p><%=item.number %></p>
                            <p><%=item.nationality %></p>
                        </li>
                    <% }) %>

                <% } else if (category == "constructors" && data.length > 0) { %>
                    <% data.forEach(item => { %>
                        <li>
                            <p><%= item.name %></p>
                            <p><%= item.nationality %></p>
                        </li>
                    <% }) %>

                <% } else if (category == "championships" && data.length > 0) { %>
                    <% data.forEach(item => { %>
                        <li>
                            <details>
                                <summary>
                                    <p><%= item.season %></p>
                                    <p><%= item.winner %> (Team: <%= item.team %>)</p>
                                </summary>
                                <p><%= item.wins %></p>
                                <p><%= item.podiums %></p>
                                <p><%= item.poles %></p>
                                <p><%= item.points %></p>
                                <p><%= item.constructor_champion %></p>
                            </details>
                        </li>
                    <% }) %>

                <% } else if (category == "circuits" && data.length > 0) { %>
                    <% data.forEach(item => { %>
                        <li>
                            <p><%= item.name %></p>
                            <p><%= item.location %></p>
                            <p><%= item.country %></p>
                        </li>
                    <% }) }%>
            </ul>
        </div>
    </main>

    <%- include('../view/footer'); %>
    <script src="/script/lazyload.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/list.js@2.3.1/dist/list.min.js"></script>
    <script src="/script/archive2.js"></script>

</body>
</html>