<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F1 Matching</title>
    <link rel="stylesheet" href="/style/style.css" type="text/css">
    <link rel="stylesheet" href="https://use.typekit.net/jva5hqf.css">
</head>

<body>
    <%- include('../view/header'); %>

    <main class="mainCommunity">
        <div>
        <h1>Community</h1>
        <a href="/createPost">Create Post</a>
        </div>
        <div>
        <% if (posts && posts.length > 0) { %>
            <% posts.forEach(post => { %>
                <article>
                    <%if (post.file) { %>
                        <img src="/uploads/<%= post.file %>" alt="Post image">
                    <% } %>
                    <div>
                    <h2><%= post.title %></h2>
                    <p><%= post.content %></p>
                    <p>User: <%= post.user %></p>
                    </div>
                </article>
            <% }) %>
        <% } else { %>
            <p>Er zijn nog geen posts.</p>
        <% } %>
    </main>

    <%- include('../view/footer'); %>
    <script src="/script.js"> </script>

</body>
</html>