<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F1 Matching</title>
    <link rel="stylesheet" href="/style/style.css" type="text/css">
    <link rel="stylesheet" href="https://use.typekit.net/jva5hqf.css">
</head>

<body>
    <%- include('../view/header'); %>

    <main class="mainCommunity">
        <div>
            <h1>Community</h1>
            <div class="zoeken">
                <label><input type="text" placeholder="search posts..."></label>
                <a href="/createPost">Create Post</a>
            </div>
        </div>
        <div id="communityList">
        <% if (posts && posts.length > 0) { %>
            <% posts.forEach(post => { %>
                <article>
                    <%if (post.file) { %>
                        <img src="/uploads/<%= post.file %>" alt="Post image">
                    <% } %>
                    <div class="communityList list">
                    <h2 class="postitle"><%= post.title %></h2>
                    <p><%= post.content %></p>
                    <p class="User">User: <%= post.user %></p>
                    </div>
                </article>
            <% }) %>
        <% } else { %>
            <p>Er zijn nog geen posts.</p>
        <% } %>
    </main>

    <%- include('../view/footer'); %>
    <script src="/script/community.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/2.3.1/list.min.js"></script>
    <script src="/script/lazyload.js"></script>
</body>
</html>
