<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F1 Matching</title>
    <link rel="stylesheet" href="/style/style.css" type="text/css">
    <link rel="stylesheet" href="https://use.typekit.net/jva5hqf.css">
</head>

<body>
    <%- include('../view/header'); %>

    <main class="mainProfile">
        <h1>Your profile</h1>

        <section>
            <h2><%= user.username %></h2>
            <img src="/profilepics/<%= user.profilePic %>" alt="Your profile picture">
        </section>

        <a href="/accountPreferences">Edit Preferences</a>
        <div>
            <section>
                <h2>Followers</h2>
                <ul>
                    <% if (Array.isArray(user.followers)) { %>
                        <% user.followers.forEach(follower => { %>
                            <li><%= follower %></li> 
                        <% }) %>
                    <% } else { %>
                        <li>No followers</li>
                    <% } %>
                </ul>
            </section>
            <section>
                <h2>Following</h2>
                <ul>
                    <% if (Array.isArray(user.following)) { %>
                        <% user.following.forEach(following => { %>
                            <li><%= following %></li> 
                        <% }) %>
                    <% } else { %>
                        <li>Not following anyone</li>
                    <% } %>
                </ul>
            </section>
        </div>
        <a href="/teamUp">Search friends</a>

    </main>

    <%- include('../view/footer'); %>
    <script src="/script/lazyload.js"></script>

</body>
</html>