<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formule 1 Quiz</title>
    <link rel="stylesheet" href="/style/style.css" type="text/css">
</head>
<body>
    <%- include('../view/header'); %>
    
    <main>
      <h1>Formule 1 Quiz</h1>

      <% if (!user) { %> 
        <p>You must be logged in to take personalised quizzes!</p>
      <% } else { %>

      <div>
        <% if (user) { %>
          <p>Current user: <%= user.username %></p>
          <br>
          <p>Watches F1 since: <%= user.firstSeason %></p>
          <p>Favorite Driver: <%= user.driver %></p>
          <p>Favorite Team: <%= user.team %></p>
          <p>Favorite Circuit: <%= user.circuit %></p>
      <% } else { %>
          <p>User data is not available.</p>
      <% } %>
      </div>  

      <br><br>

      <form action="/submit-quiz" method="POST">
        <% questions.forEach((question, index) => { %>
            <article>
                <p><%= question.question %></p>
                <div>
                    <% question.answers.forEach((answer) => { %>
                        <label>
                            <!-- Using both question._id and index for a unique name per question group -->
                            <input type="radio" name="question-<%= index %>" value="<%= answer %>">
                            <%= answer %>
                        </label>
                    <% }) %>
                </div>
            </article>
        <% }) %>
        <button type="submit">Submit</button>
    </form>
      <% } %>

  </main>

    <%- include('../view/footer'); %>
    <script src="/script/lazyload.js"></script>

    <!-- <script src="/script/quiz.js"></script> -->

</body>
</html>
